@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Keep any custom styles below */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
